<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>操作指南</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<style type="text/css">
			* {
				border: 0;
				padding: 0;
				margin: 0;
				background-color: #FFFFFF;
				font-family: "微软雅黑";
			}
			
			img{
				 width: 100%;
				 background-color: #20AAF5;
				 margin-top: -4px;
			}
		</style>
		<div class="">
			<img src="../source/images/oder_instructions.png" />
			<!--<img src="http://weixin.tzxzsp.gov.cn/ufiles/cao_zuo_zhi_nan/c.2.jpg" />
			<img src="http://weixin.tzxzsp.gov.cn/ufiles/cao_zuo_zhi_nan/c.3.jpg" />
			<img src="http://weixin.tzxzsp.gov.cn/ufiles/cao_zuo_zhi_nan/c.4.jpg" />
			<img src="http://weixin.tzxzsp.gov.cn/ufiles/cao_zuo_zhi_nan/c.5.2.jpg" />
			<img src="http://weixin.tzxzsp.gov.cn/ufiles/cao_zuo_zhi_nan/c.6.jpg" />-->
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>