<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<script src="../../BaseConfig/controller/BaseConfig.js"></script>
		<script src="../source/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">				
			
			var href = location.href;
			var uuid = href.split("uuid=")[1].split("&")[0];
			myRequest({
				url: overallInterface + "interface/classify/queryUrl.do",
				data: {
					uuid: uuid
				},
				header: '',
				success: function(data) {
					if(data.msgcode == 1) {
						var linkurl = data.url;
						sessionStorage.linkurl = decodeURI(linkurl);
						window.location.href = "https://puser.zjzwfw.gov.cn/sso/mobile.do?action=oauth&scope=1&servicecode=zjzwfwsb&isfrom=app"
					} else {
						alert("为查找到对应分类");
					}
				}
			});
		</script>
	</body>

</html>