<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="../../BaseConfig/controller/BaseConfig.js"></script>
	<script src="../../BaseConfig/controller/base64.js"></script>
	<script src="../source/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		//	window.location.href = "oderclassify.html?type=" + sessionStorage.type + "&cityname=" + sessionStorage.cityname + "&siteid=" + sessionStorage.siteid;
		/**
		 * 获取url中"?"符后的字串
		 */
		function GetRequest() {
			var url = window.location.search;
			var theRequest = new Object();
			if(url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for(var i = 0; i < strs.length; i++) {
					theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}
		var ticket = '';
		var usertype = '';

		function newrequestuserinfo() {
			var Request = new Object();
			Request = GetRequest();
			ticket = Request['ticket'];
			usertype = Request['usertype'];
			var date = {
				ticket: ticket,
			}

			/*
			 * 宁波南威获取用户信息
			 */
			var bool = (sessionStorage.linkurl.indexOf("appServiceApplyAction.action") != -1);
			if(bool) {
				$.ajax({
					data: date,
					type: 'get',
					url: overallInterface + "interfaces/nbnwgetUser.do",
					timeout: 15000,
					async: true,
					success: function(data) {
						if(data.result == "1") {
							alert("获取用户信息失败!请重试！");
						} else {
							window.location.href = sessionStorage.linkurl + "&userInfo=" + data;
						}
					},
					error: function(e) {
						alert("获取用户信息失败!请重试！,请求失败");
					}
				});
			} else {
				/*
				 * 正常获取用户信息
				 */
				$.ajax({
					data: date,
					type: 'get',
					url: overallInterface + "interfaces/getUser111.do",
					timeout: 15000,
					async: true,
					success: function(data) {
						var base64 = new Base64();
						data = JSON.parse(base64.decode(data));
						if(data.result == "0") {
							data = JSON.stringify(data);
							localStorage.wxuserInfo = data;
							localStorage.userInfo = data;
							//跳转到之前放到缓存中的地址
							if(sessionStorage.linkurl.indexOf("?") == -1) {
								window.location.href = sessionStorage.linkurl + "?1=1&again=";
							} else {
								window.location.href = sessionStorage.linkurl + "&again=";
							}

						} else {

							if(localStorage.userInfo == "" || localStorage.userInfo == undefined) {
								alert("获取用户信息失败!请重试！");
							} else {
								if(sessionStorage.linkurl.indexOf("?") == -1) {
									window.location.href = sessionStorage.linkurl + "?1=1&again=";
								} else {
									window.location.href = sessionStorage.linkurl + "&again=";
								}
							}

						}

					},
					error: function(e) {
						alert("获取用户信息失败!请重试！,请求失败");
					}
				});
			}

		}

		newrequestuserinfo();
	</script>

	<body>
	</body>

</html>